{% extends "homescreen/layout.html" %}
{% block body %}
<center>
    {% if message %}
<div class="alert alert-success alert-dismissible" role="alert">
    {{message}}
 </div>
{% endif %}
    <div class="label">
        <div>
            <h3 class="p2">Username: {{ redemption_request.employee }}</h3>
            <p class="p2"> Vendor Name: {{ redemption_request.voucher.vendor.name }}
                <br>
                <img src="{{ redemption_request.voucher.vendor.img. }}"> 
                <br>
                Voucher End Date: {{ redemption_request.voucher.end_date }}
                <br>
                Points Equivalent:{{ redemption_request.voucher.points_equivalent }}
                <br>
             
            <i class="i2"> {{ redemption_request.request_date }}</i>
            <br>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
            <form method="post" action="{% url 'accept' redemption_request.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Approve</button>
            </form>
            <form method="post" action="{% url 'redemption_decline' redemption_request.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger"  type="submit">Decline</button>
            </form> 
        </div>
    </div>
        
</center>        
{% endblock %}