{% extends "homescreen/layout.html" %}
{% block body %}
{% load static %}
{% load dict_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | ECS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
</head>
<body>
  


 <div class="main">
    <div class="col-md-4 col-sm-9 mr-6">
        <img 
             alt="Image description"
             src="{% static 'images/Logo.png' %}"/>
             <h2 class = "mt-2"> Create User Here</h2>
       <div class="register-form mb-5">
         {% if success_message %}
      <div class="alert alert-success" role="alert">
         {{success_message}}
      </div>
      {% endif %}
          <form enctype="multipart/form-data" action="{% url 'admin_create_user' %}" method="post">
            {% csrf_token %}
            {%for field in form%}
               {{field.label}}
               {{field}}{%if error_messages%}{%if error_messages|get_item:field.name %}<div class="alert alert-danger">{{error_messages|get_item:field.name}}</div>{%endif%}{%endif%}
            {%endfor%}
            <br>
             <button type="submit" class = "btn btn-info" type="submit" style = "background-color: #1C77B6">Create User
             </button>

          </form>
       </div>
    </div>
 </div>

   
    
</body>
</html>
{% endblock %}