{% extends "homescreen/layout.html" %}


{% block body %}
  <center>
    {% if message %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endif %}
        <h1> Change Password</h1>
      </center>
      <div class="glow">
        <br>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            
            {{ form }}
            <br>
            <button type="submit">Save changes</button>
          </form>
        </div>

{% endblock %}
