{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
</head>
<body>
  


<div class="sidenav">
    <div class="login-main-text">
       <h2>Welcome ECSian!<br> Login Page</h2>
       <p>Delivering Impact</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
        <img class="avatar" src="{% static 'images/Logo.png' %}"
             alt="avatar"
             />

       <div class="login-form">
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

             <div class="form-group">
                {% if message %}
                <div>{{ message }} <a href="{%  url 'password_reset' %}"><i>Forgot Password?</i></a></div>
                {% endif %}
                <label>User Name:</label>
                <input type="text" class="form-control" placeholder="user name" name="username"  required = True>
             </div>
             <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" placeholder="password" name="password" required = True>
             </div>
             <button type="submit" class="btn btn-blue">Login</button>
          </form>
       </div>
       Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
 </div>

   
    
</body>
</html>
