{% extends "homescreen/layout.html" %}
{% block body %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}
  </div>

{% endif %}

{% if request.user.role == "Role.A" %}

<div class="emp-profile">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{register_request.img.url}}" alt="Profile Photo" style="height: 300px;"/>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{register_request.first_name}} {{register_request.last_name}}
                            </h5>
                            <h6>
                                {{ register_request.username }}
                            </h6>
                            <p class="proile-rating">RANKING : <span> 1st </span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                     
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn"><a href = "{% url 'edit_request' register_request.emp_id %}"> Edit Profile </a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{register_request.emp_id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{register_request.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{register_request.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{register_request.phone_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Role</label>
                                    </div>
                                    <div class="col-md-6">
                                       {% if register_request.role == "Role.E"%} <p> Employee</p>
                                       {% elif register_request.role == "Role.M" %} <p> Manager</p>
                                       {% else%} <p> Admin</p>
                                       {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="post" action="{% url 'register_accept' register_request.emp_id %}">
                                            {% csrf_token %}
                                        <button class="btn btn-outline-success" type="submit">Accept</button>
                                    </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form method="post" action="{% url 'register_reject' register_request.emp_id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-danger" type="submit">Reject</button> 
                                        </form>
                                    </form>

                    </div>
                </div>
            </div>
        </div>
</div>
{%endif%}
{% endblock %}